.navbar {
    width: 100%;
    background: $color-grey-dark;
    padding: 20px 10px;
    box-sizing: border-box;

    &__title {
        margin-right: auto;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1.2em;

        & a {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &__icon {
        font-size: 40px;
        color: $color-green-dark;
    }

    & ul {
        display: flex;
        margin: 0 auto;
        width: 90%;
        align-items: center;
    }

    & a {
        color: $color-green-light;
        text-decoration: none;
        margin-left: 16px;
    }

    &__user-name {
        color: $color-green-light;
    }
}
