@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-green-dark: #778a35;
$color-green-light: #d1e2c4;
$color-grey-light: #ebebe8;
$color-grey-dark: #31352e;
