@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-dark-green: #778a35;
$color-light-green: #d1e2c4;
$color-light-grey: #ebebe8;
$color-dark-grey: #31352e;
